<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="Access-Control-Allow-Origin" content="*"/>
<title>Simple Player Web</title>
<link href="style/Material_Icon/material-icons.css" rel="stylesheet"/>
<link href="style/style.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="style/background.css"/>
<link rel="stylesheet" type="text/css" href="style/scan_music.css"/>
<link rel="stylesheet" href="style/start_menu.css"/>
<link rel="stylesheet" href="style/settings.css">
<script src="vue.js"></script>
<script src="JQuery.js"></script>
</head>
<body>
<div id="app" style="width: 100vw; height: 100vh;">
    <div class="viusalizer">
        <canvas ref="canvas" width="100%" height="100%"></canvas>
    </div>
    <button ref="logoCircle" class="logo"></button>
    <div class="title_bar">
        <audio ref="au" src="" id="audio"></audio>
        <div class="title_menu">
            <div class="ma start_button" @click="openPlayerInfo()">&#xe871</div>
        </div>
        <div class="title_func">
            <div class="ma title_bar_icon" @click="openAdjustVolume()">&#xe050</div>
            <div class="song_info" @click="openPlayerPanel()">
                <div class="song_title">{{currentSong.title}}</div>
                <div class="song_artist">{{currentSong.artist}}</div>
            </div>
            <div class="time">
                {{time}}
            </div>
        </div>
    </div>
    <!-- 音量调节 -->
    <div v-if="Window.Panel.showAdjustVolume" @wheel="adjustVolume" class="adjust_volume">
        <div  class="volume_bar">
        <div ref="volume_progress" :style="'width:' + Settings.volume + '%'"></div>
            <div ref="volume_thumb" :style="'margin-left:' + Settings.volume + '%'"></div>
        </div>
        <div class="volume_val">{{Settings.volume}}%</div>
    </div>
    <!-- 开始菜单 -->
    <div v-if="Window.Panel.showPlayerInfo" class="start">
        <div class="ma start_content">
            <div class="color_block2" @click="openSettings()">&#xe8b8</div>
            <div class="color_block" style="background-color: crimson;" @click="openBackgroundSettings()">&#xe30c</div>
            <!-- <div class="color_block">&#xe8ac</div> -->
            <div class="color_block" @click="openScanMusic()">&#xe8b6</div>
            <div class="color_block" @click="openCloudMusicAPI()">&#xe2c4</div>
        </div>
    </div>
    <!-- 播放悬浮窗 -->
    <div v-if="Window.Panel.showPlayerPanel" class="float_player_panel">
        <div class="float_player_list">
            <div v-for="(e, i) in songs" class="list_item" @click="play(i)">{{e.title}}</div>
        </div>
        <div class="float_player_controls">
            <div class="ma title_bar_icon" @click="changePlayMode()">{{playModeIcon}}</div>
            <div class="ma title_bar_icon" @click="previous()">&#xe045</div>
            <div class="ma title_bar_icon" @click="playBtn()">{{playIcon}}</div>
            <div class="ma title_bar_icon" @click="next()">&#xe044</div>
            <div class="ma title_bar_icon">&#xe5d2</div>
        </div>
        <div class="progress">
            <div ref="progress" id="progress"></div>
        </div>
    </div>
    <div v-if="Window.Frame.showWindow" class="window">
        <div class="window_title_bar">
            <div class="window_title_bar_name">{{Window.title}}</div>
            <button @click="closeWindow()" class="ma window_title_bar_close">&#xe5cd</button>
        </div>
        <div class="window_content">
            <!-- 背景设置界面 -->
            <div v-if="Window.Frame.showBackgroundSettings" class="background_selector">
                <div class="background_images">
                    <div v-for="(bg, i) in backgrounds" @click="setBackground(i)" class="background_item">
                        <img :src="bg.thumb" class="background_image"/>
                        <p class="background_name">{{bg.name}}</p>
                    </div>
                </div>
            </div>
            <!-- 扫描服务器歌曲界面 -->
            <div v-if="Window.Frame.showScanMusic" class="scan_music">
                <button class="scan_music_btn">开始扫描</button>
                <div v-if="false" class="scan_music_result">
                    <div>
                        <p>已扫描 100 首，其中已选 100 首</p>
                        <button class="scan_music_add">添加</button>
                    </div>
                    <div class="scan_music_result_list">
                        <div v-for="i in 100" class="scan_music_result_list_item">
                            <input class="ma" checked type="checkbox" style="color: #47afff;">
                            <p>Xomu - Lantern.mp3</p>
                            <P>12.0MB</P>
                            <button class="ma scan_music_result_list_item_info">&#xe88f</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 网易云API -->
            <div v-if="Window.Frame.showCloudMusicAPI" class="cloud_music">
                <div class="cloud_music_tab">
                    <div v-for="idx in 2" @click="changeApi(idx)" :class="idx == tabIndex ? 'cloud_music_tab_button_pressed' : 'cloud_music_tab_button_normal'">接口{{idx}}</div>
                </div>
                <div>
                    <div>
                        <input type="text" name="" v-model="cloudMusicId" placeholder="输入歌曲 id" class="cloud_music_search">
                        <button class="cloud_music_download" @click="downloadCloudMusic()">获取</button>
                    </div>
                    <a :href="cloudMusicUrl">{{cloudMusicUrl}}</a>
                </div>
            </div>
            <!-- 设置 -->
            <div v-if="Window.Frame.showSettings" class="settings">
                <div v-for="(val, key) in Settings" class="settings_item">
                    <div>
                        <div class="settings_item_name">{{key}}</div>
                        <input type="text" class="settings_item_value" v-model="val">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
<script src="script/background.js"></script>
<script src="script/MusicPlayer.js"></script>
<script src="script/scripts.js"></script>
</body>
</html>