.settings {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.settings::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.settings_item {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    padding: 16px 0px 16px 32px;
    display: flex;
    align-items: center;
}
.settings_item_name {
    color: var(--font_color);
    font-size: 15px;
    margin-bottom: 8px;
}
.settings_item_value {
    width: 800px;
    height: 32px;
    background: none;
    border: none;
    outline: none;
    border-radius: 0px;
    color: white;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: var(--dark);
    padding-left: 8px;
}