/* 
934  700
467  350
*/
.start {
    position: fixed;
    left: 0%;
    bottom: var(--title_bar_height);
    background-color: var(--bgcolor);
    width: 50%;
    height: 70%;
    z-index: 99;
}
.start_button {
    width: 50px;
    height: var(--title_bar_height);
    color: var(--font_color);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    user-select: none;
}
.start_button:hover {
    background-color: rgba(128, 128, 128, .4);
}
.start_button:active {
    background-color: rgba(128, 128, 128, .8);
    color: #0090FF;
}
.start_content {
    width: calc(100% - var(--title_bar_height));
    position: absolute;
}
.color_block {
    width: 100px;
    height: 100px;
    background-color: hsl(219, 79%, 66%);
    margin: 1px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 32px;
    cursor: default;
}
.color_block2 {
    width: 202px;
    height: 202px;
    background-color: hsl(219, 79%, 66%);
    margin: 1px;
    float: left;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    cursor: default;
}
.color_block:hover, .color_block2:hover {
    background-color: hsl(219, 79%, 70%);
}
.color_block:active, .color_block2:active {
    background-color: hsl(219, 79%, 74%);
}