* {
    margin: 0px;
    padding: 0px;
}
html {
    background-image: url(../res/bg2.png);
    background-size: 101%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
:root {
    --title_bar_height: 40px;
    --dark: #303030;
    
    --light: #ffffff;
    --bgcolor: var(--dark);
    --font_color: white;
}
button {
    background: none;
    border: none;
    outline: none;
}
.title_bar {
    width: 100vw;
    height: var(--title_bar_height);
    background-color: var(--bgcolor);
    position: fixed;
    display: flex;
    bottom: 0px;
}
.title_menu {
    height: 100%;
    display: flex;
}
.title_bar_icon {
    width: 50px;
    height: var(--title_bar_height);
    color: var(--font_color);
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.title_bar_icon:hover, .song_info:hover {
    background-color: rgba(128, 128, 128, .4);
}
.title_bar_icon:active, .song_info:active {
    background-color: rgba(128, 128, 128, .8);
}
.title_func {
    height: var(--title_bar_height);
    display: flex;
    position: absolute;
    right: 0px;
}
.title_search {
    width: 160px;
    height: fit-content;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 14px;
    border-bottom: 2px solid #fff;
    padding: 4px;
    font-family: sans-serif;
}
.song_info {
    width: 160px;
    height: var(--title_bar_height);
    color: var(--font_color);
    cursor: pointer;
}
.song_title {
    width: 100%;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4px;
}
.song_artist {
    width: 100%;
    font-size: 8px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;;

}
.progress {
    width: 100%;
    height: 2px;
    position: relative;
    cursor: pointer;
}
#progress {
    width: 0%;
    height: 2px;
    background-color: var(--font_color);
    position: absolute;
    cursor: pointer;
}
.float_player_panel {
    width: 320px; 
    height: calc(100vh - 40px); 
    position: fixed; 
    right: 0px; 
    z-index: 99; 
    background-color: var(--bgcolor);
}
.float_player_controls {
    width: 100%;
    height: var(--title_bar_height);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font_color);
}

.float_player_controls > .title_bar_icon:active {
    background-color: rgba(128, 128, 128, .8);
}
.float_player_list {
    width: 100%;
    height: calc(100% - (var(--title_bar_height) + 2px));
    user-select: none;
    color: var(--font_color);
    font-size: 14px;
    overflow-y: scroll;
}
.float_player_list::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.list_item {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px 16px 8px 16px;
    color: var(--font_color);
}
.list_item:hover {
    background-color: rgba(128, 128, 128, .4);
}
.list_item:active {
    background-color: rgba(128, 128, 128, .8);
}
.window {
    width: 100%;
    height: calc(100% - 40px);
    background-color: var(--bgcolor);
    /* border-radius: 4px; */
    top: 0px;
    left: 0%;
    position: fixed;
}
.window_title_bar {
    width: 100%;
    height: 32px;
    color: var(--font_color);
    display: flex;
    justify-self: center;
    align-items: center;
}
.window_title_bar_name {
    font-size: 14px;
    width: calc(100% - 40px);
    padding-left: 8px;
}
.window_title_bar_close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    user-select: none;
    color: var(--font_color);
}
.window_title_bar_close:hover {
    background-color: crimson;
    /* border-radius: 0px 4px 0px 0px; */
    border-radius: 0px;
}
.window_content {
    width: 100%;
    height: calc(100% - 32px);
    background-color: #424242;
    /* border-radius: 0px 0px 4px 4px; */
}
.time {
    height: var(--title_bar_height);
    width: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--font_color);
    font-size: 14px;
}
.adjust_volume {
    position: fixed;
    width: 360px;
    height: 60px;
    background-color: var(--bgcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    right: 96px;
    bottom: var(--title_bar_height);
}
.volume_bar {
    width: 75%;
    height: 3px;
    background-color: #424242;
    cursor: pointer;
}
.volume_bar > div:first-child{
    width: 34%;
    height: 3px;
    background-color: var(--font_color);
}
.volume_bar > div:last-child {
    width: 4px;
    height: 16px;
    background-color: var(--font_color);
    margin-top: -9px;
    margin-left: 34%;
}
.volume_val {
    color: var(--font_color);
    margin: 8px;
    width: 44px;
}

.cloud_music {
    width: 100%;
    height: 100%;
}
.cloud_music_tab {
    width: 100%;
    height: var(--title_bar_height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cloud_music_tab_button_normal {
    width: 50%;
    height: var(--title_bar_height);
    color: var(--font_color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor);
}
.cloud_music_tab_button_pressed {
    width: 50%;
    height: var(--title_bar_height);
    color: var(--font_color);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
}
.cloud_music_search {
    width: 360px;
    height: 40px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .5);
    color: white;
    font-size: medium;
    border-radius: 0px;
    padding-left: 12px;
}
.cloud_music_download {
    width: 100px;
    height: 44px;
    letter-spacing: 8px;
    color: var(--font_color);
    font-size: 16px;
    border: 2px solid rgba(255, 255, 255, .0);
    border-radius: 0px;
    background-color: dimgrey;
}
.cloud_music_download:hover {
    border: 2px solid #0090ff;
}
.cloud_music_download:active {
    background-color: #414141;
}
.cloud_music > div:last-child {
    width: 100%;
    height: calc(100% - var(--title_bar_height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cloud_music > div:last-child > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cloud_music > div:last-child > a {
    margin-top: 32px;
    color: var(--font_color);
}
.viusalizer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
}

.logo {
    width: 54vh;
    height: 54vh;
    border: 16px solid white;
    position: fixed;
    top: calc((100vh - var(--title_bar_height)) / 2 - 27vh);
    left: calc(50vw - 27vh);
    background-image: linear-gradient(to top left, #0250c5 0%, #d43f8d 100%);
    border-radius: 50%;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
    font-weight: bold;
    color: white;
    font-size: 160px;
}